@model comara.Models.Venta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="venCod" />
            <div class="form-group">
                <label asp-for="venFech" class="control-label"></label>
                <input asp-for="venFech" class="form-control" />
                <span asp-validation-for="venFech" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliCod" class="control-label"></label>
                <select asp-for="cliCod" class="form-control" asp-items="ViewBag.cliCod"></select>
                <span asp-validation-for="cliCod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venTotal" class="control-label"></label>
                <input asp-for="venTotal" class="form-control" />
                <span asp-validation-for="venTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venEstado" class="control-label"></label>
                <input asp-for="venEstado" class="form-control" />
                <span asp-validation-for="venEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
