@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/logos/2.png" alt="Logo COMARA" style="max-height: 150px; margin-bottom: 20px;" />

    <h3>Sistema de gestión de stock y ventas</h3>
</div>