@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>

<ul>
    <li><a asp-controller="Reportes" asp-action="Ventas">Reporte de Ventas</a></li>
    <li><a asp-controller="Reportes" asp-action="StockCritico">Reporte de Stock Crítico</a></li>
    <li><a asp-controller="Reportes" asp-action="CuentasCorrientes">Reporte de Cuentas Corrientes</a></li>
</ul>
